*~
.DS_Store
.\#*
.~
.~*\#
Log.do
Tools/*.import.scm
Tools/*.link
Tools/build
Tools/gmi-gmi-atom
Tools/gmi-html-atom
Tools/tztable2scm
\#*\#
gmi/*.html
gmi/blog/*.atom
gmi/blog/*.html
gmi/blog/*/*.html
